<div class="jumbotron">
  <h1 class="text-center"><%= @event.name.upcase %><small> Activities </small></h1>
  <div class="col-md-offset-4 col-md-4 btn-block">
  <button class="btn btn-primary btn-centered" type="button" data-toggle="collapse" data-target="#activity_form" aria-expanded="false" aria-controls="collapseExample">
  Add an Activity
  </button>
  </div>
</div>
