<div class="row isotope-container">
  <% @events.each do |event| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target=".event_<%= event.id %>">
          <h3 class="panel-title"><%= event.name.upcase %></h3>
        </button>
      </div>
      <div class="panel-body">

        <strong>From: </strong><%= local_time(event.starting_time,"%B %e, %Y at %l:%M%P") %>

        <strong>Till: </strong><%= local_time(event.ending_time,"%B %e, %Y at %l:%M%P") %>
      </div>
    </div>
  </div>
  <% end %>
