<div class="collapse" id="calendar_form">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Calendar</h3>
        </div>
        <div class="panel-body">
          <form enctype="multipart/form-data" action="/create_calendar" method="post" class="form-horizontal">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for title -->
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">
                Title
              </label>
              <div class="col-sm-10">
                <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @calendar.title %>">
              </div>
            </div>

            <!-- Label and input for description -->
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">
                Description
              </label>
              <div class="col-sm-10">
                <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @calendar.description %></textarea>
              </div>
            </div>

            <!-- Label and input for image -->

            <div class="form-group">
              <label for="image" class="col-sm-2 control-label">
                Image
              </label>
              <div class="col-sm-10">
                <input type="file" id="image" name="image" class="form-control">
                <% if @calendar.image == nil %>
                <% @calendar.image = "Dec_2014.JPG"  %>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success">
                  Create Calendar
                </button>
                or
                <a href="/calendars">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
