<div class="row">
  <div class="col-md-12">
  <div class="jumbotron">
    <h1 class="text-center"><%= @calendar.title %></h1>
    <h1>Next Event In:<small> __Days __ Hours __ Minutes</small></h1>
  </div>
  </div>
    <div class ="col-md-3 col-md-offset-5">
    <br>
      <div class="btn-group" role="group">
        <button class="btn btn-default btn-large" type="button"><i class="fa fa-plus fa-lg"></i> Event</button>
        <button class="btn btn-default btn-large" type="button"><i class="fa fa-plus fa-lg"></i> | <i class="fa fa-edit fa-lg"></i>  Calendar</button>
      </div>
    </div>
  </div>
</div>
</div>
