<div class="jumbotron">
  <h1><%= @calendar.title %>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventform" aria-expanded="false" aria-controls="collapseExample">
  Create an Event
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#share_calendar_form" aria-expanded="false" aria-controls="collapseExample">
  Share this Calendar
  </button>
  </h1>
  <p><%= @calendar.description %></p>
</div>

<!-- Validation failure messages -->

