<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="<%= activity.image %>" class="img-rounded img-responsive">
      <div class="btn-group btn-group-xs">

        <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>

        <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>

      </div>
    </div>
  </div>

