<div class="col-sm-4 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Comments</div>
      <div class="panel-body pre-scrollable">
      <% @comments = @comments.reverse %>
      <% @comments.each do |comment| %>
        <ul class="list-group">
          <li class="list-group-item"><h6><%= comment.user.username %>: <%= comment.body %></h6></li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>
