<div class="modal fade" id="activity_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% existing_activity = Activity.find(activity_id) %>
        <%# raise existing_activity.inspect %>
        <%= render 'activities/form', activity: existing_activity %>
      </div>
    </div>
  </div>
</div>
